.btn {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	color: white;
}
.btn:hover {
	color: #eee;
}

.btn-linkedin {
	background: #0976b4;
}
.btn-linkedin:hover {
	background: #004269;
}

.btn-github {
	background: #666666;
}
.btn-github:hover {
	background: #333333;
}

.btn-twitter {
	background: #00aced;
}
.btn-twitter:hover {
	background: #043d52;
}
